<header>
  <div class="container-fluid bg-info text-center">
    <h1 class="text-light p-5">Secret Santa</h1>
  </div>
</header>

<main>
  <div class="card-columns">
    <div class="card" *ngFor="let n of secretSantaList">
      <div class="card-body text-center">
        <p>{{ n.name }}</p>
        <ng-container *ngIf="visible">
          <div class="bg-white shadow p-3">
            <p>{{ n.par }}</p>
          </div>
        </ng-container>

        <button
          (click)="onclick()"
          class="btn btn-info container"
          type="button"
        >
          Show/Hiden
        </button>
      </div>
    </div>
  </div>
</main>
